{% extends "user/home.html"%}
{% block morecontent %}
<div class="container text-center">
  <h1 class="h3 mb-3 fw-normal" style="color: skyblue;">New User Registration</h1>

  <div class="card-body col-md-12">
    <form action="" method="POST">

      <div class="row mb-3">

          <div class="col-md-12">
              <div class="form-floating mb-3 mb-md-0">   

                {% if signupform.fullname.errors %}
                {% for error in signupform.fullname.errors %}
                <p class="alert alert-danger"> {{error}}</p>
                {% endfor %}
                {% endif %}

                {{signupform.fullname(class_="form-control",placeholder="Enter your first name")}}
                {{signupform.fullname.label(for="fullname")}}
              </div>

          </div>

      </div>

      <div class="form-floating mb-3">



        {% if signupform.email.errors %}
        <p class="alert alert-danger"> {{signupform.email.errors}}</p>
        {% endif %}

        {{signupform.email(class_="form-control",placeholder="name@example.com")}}
        {{signupform.email.label(for="email")}}
      </div>

      <div class="row mb-3">
          <div class="col-md-12">
              <div class="form-floating mb-3 mb-md-0">

                {% if signupform.password.errors %}
                <p style="color: red;"> {{signupform.password.errors}}</p>
                {% endif %}

                {{signupform.password(class_="form-control",placeholder="Create a password")}}
                {{signupform.password.label(for="password")}}
              </div>
          </div>

          <div class="col-md-12"> <br>
              <div class="form-floating mb-3 mb-md-0">
                
            {% if signupform.confirm_password.errors %}
            {% for error in signupform.confirm_password.errors %}
            <p class="alert alert-danger"> {{error}}</p>
            {% endfor %}
            {% endif %}

                {{signupform.confirm_password(class_="form-control",placeholder="Confirm Password")}}
                {{signupform.confirm_password.label(for="password")}}
              </div>

          </div>
        
      </div>
      <div class="mt-4 mb-0">
          {{signupform.btn(class_="btn btn-primary")}}
          {{signupform.csrf_token}}

        <div class="form-floating">
<p>Already have account? <a href="/login">:Login</a></p>
</div>
  </form>
          </div>
     
    </div>
{% endblock morecontent %}
 <div class="row" style="background-color: blue;"> 
    <p>&copy; 2023 Market App. All rights reserved.</p>
  </div>

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static',filename='assets/dist/js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>
